body{
  background-color: lightsteelblue;
}

h1{
  font-weight: bold;
  color:#325DCE;
  font-family: "optima", sans-serif;
  letter-spacing: 0.1em;
}

h1:hover{
  color: white;
}

#dates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px,100px));
grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 90px;
  row-gap:87px;
  height: 500px;
  position:relative;
  left:5%;
}


.day {
  background: #E7EAF5;
  border: 3px solid;
  border-radius: 50%;
  border-style: none;
  border-color:blue;
  padding: 20px;
  height: 60px;
  width:60px;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

.day1 {
  background: #E7EAF5;
  border: 3px solid;
  border-radius: 50%;
  border-style: none;
  border-color: blue;
  padding: 20px;
  height: 60px;
  width:60px;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

.day14 {
  background: #E7EAF5;
  border: 3px solid;
  border-radius: 50%;
  border-style: none;
  border-color: blue;
  padding: 20px;
  height: 60px;
  width:60px;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

.day17 {
  background: #E7EAF5;
  border: 3px solid;
  border-radius: 50%;
  border-style: none;
  border-color: blue;
  padding: 20px;
  height: 60px;
  width:60px;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

a:visited {
  text-decoration: none;
  color:#325DCE;
}

a:link {
  text-decoration: none;
  color: #325DCE;
}


.day:hover{
  background-color:  lightsteelblue;
  border-color: white;
  border-width: thick;
  border-radius: 50%;
  border-style: outset solid dotted dashed;
}

.day1:hover{
  background-color:  lightsteelblue;
  border-color: white;
  border-width: thick;
  border-radius: 50%;
  border-style: outset solid dotted dashed;
}

.day14:hover{
  background-color:  lightsteelblue;
  border-color: white;
  border-width: thick;
  border-radius: 50%;
  border-style: outset solid dotted dashed;
}

.day17:hover{
  background-color:  lightsteelblue;
  border-color: white;
  border-width: thick;
  border-radius: 50%;
  border-style: outset solid dotted dashed;
}

h1::after{
  content:"it's 2020 🤭 ";
  font-size:18px;
  background:white;
  color:#325DCE;
  font-weight:900px;
}

.day1::after{
  content:"new month!";
  font-size:10px;
  background-color: white;
  color:blue;
  font-weight: 900;
}

.day14::after{
  content:"chocolate time 🖤";
  font-size:10px;
  background-color: white;
  color:blue;
  font-weight: 900;
}

.day17::after{
  content:"day off!";
  font-size:10px;
  background-color: white;
  color:blue;
  font-weight: 900;
}
