body{
  background-color: wheat;
}


h2{
  font-family: "akzidenz-grotesk", sans-serif;
  position:absolute;
  top:10%;
  left:10%;
}

h3{
  font-family: "akzidenz-grotesk", sans-serif;
  position:absolute;
  top:20%;
  left:10%;
}

div.image1{
  position:absolute;
  top:20%;
  left:40%;
}

div.image2{
  position:absolute;
  top:125%;
  left:20%;
}

div.image3{
  position:absolute;
  top:230%;
  left:40%;
}

div.image4{
  position:absolute;
  top:335%;
  left:20%;
}


.linkback{
  position: absolute;
  top:350%;
  left:5%;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 20px;
  border-radius: 20%;
}
