body{
  background-color: lavender;
}


h1{
  font-family: "optima", sans-serif;
  position:absolute;
  top:10%;
  left:40%;
}

h3{
  font-family: "optima", sans-serif;
  position:absolute;
  top:50%;
  left:10%;
}


div.image1{
  position:absolute;
  top:20%;
  left:40%;
}

.linkback{
  position: absolute;
  top:90%;
  left:5%;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 20px;
  border-radius: 20%;
}

a:link{
  text-decoration: none;
}
