body{
  background-color: thistle;
}


h2{
  font-family: "akzidenz-grotesk", sans-serif;
  position:fixed;
  top:10%;
  left:10%;
}

h3{
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 20px;
  position:absolute;
  top:150%;
  left:5%;
}


.linkback{
  position: absolute;
  top:200%;
  left:5%;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 20px;
  border-radius: 20%;
}

a:link{
  text-decoration: none;
}

div.image1{
  position:absolute;
  top:20%;
  left:40%;
}

div.image2{
  position:absolute;
  top:80%;
  left:20%;
}

div.image3{
  position:absolute;
  top:140%;
  left:45%;
}
