body {
  background-color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image1 {
  padding: 20px;
  transition: transform .5s;
  width: 80px;
  height: 90px;
  margin: 0 auto;
  position:absolute;
  top:35%;
  left:15%;
  border-style: outset solid dotted dashed;
  border-color: white;

}

.image1:hover {
  -ms-transform: scale(4.5);
  -webkit-transform: scale(1.5);
  transform: scale(5.5);
  border-style: none;
}

.image2 {
  padding: 20px;
  transition: transform .5s;
  width: 90px;
  height: 70px;
  margin: 0 auto;
  position:absolute;
  top:65%;
  left:45%;
  z-index: 2;
  border-style: outset solid dotted dashed;
  border-color: white;
}

.image2:hover {
  -ms-transform: scale(4.5);
  -webkit-transform: scale(1.5);
  transform: scale(5.5);
  border-style: none;
}

.image3 {
  padding: 20px;
  transition: transform .5s;
  width: 90px;
  height: 70px;
  margin: 0 auto;
  position:absolute;
  top:39%;
  left:75%;
  z-index: 3;
  border-style: outset solid dotted dashed;
  border-color: white;
}

.image3:hover {
  -ms-transform: scale(4.5);
  -webkit-transform: scale(1.5);
  transform: scale(5.5);
  border-style: none;
}

.image4 {
  padding: 20px;
  transition: transform .5s;
  width: 90px;
  height: 110px;
  margin: 0 auto;
  position:absolute;
  top:20%;
  left:45%;
  z-index: 4;
  border-style: outset solid dotted dashed;
  border-color: white;
}

.image4:hover {
  -ms-transform: scale(4.5);
  -webkit-transform: scale(1.5);
  transform: scale(5.5);
  border-style: none;
}

a:link{
  text-decoration: none;
  font-size: 20px;
}

.linkback{
  position: absolute;
  top:90%;
  left:5%;
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 20px;
  border-radius: 20%;
}
